
        <div class="row" style="margin-right:0px; background-image: linear-gradient(to right bottom, #131314, #13121c, #111224, #0f112c, #0b1034, #0b1034, #0b1034, #0b1034, #0f112c, #111224, #13121c, #131314);" >
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center" style="color:cornsilk;">Project Submission</h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <!-- <h3>intern nexsus </h3> -->
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 ">
                <!-- <h4 align="center">Project Submission  </h4> -->
                <div class="col-md-9">
                           <table class="table table-bordered" style="background-color: white" >
                                <thead>
                                  <tr>
                                    <th scope="col" style="border: 2px solid black; color:black;">User Id</th>
                                    <th scope="col" style="border: 2px solid black; color:black; ">User Name<i class="fas fa-users" style="margin-left:12px;"></i></th>
                                    <th scope="col" style="border: 2px solid black; color:black;">Course</th>
                                    <th scope="col" style="border: 2px solid black;color:black;">Link<i class="fas fa-link" style="margin-left:12px;"></i></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row" style="border: 2px solid black; color:black;">0042</th>
                                    <td style="border: 2px solid black; color:black">Kamal Kathuria</td>
                                    <td style="border: 2px solid black; color:black"><ul>
                                        <li>Mean Stack Development</li>
                                        <li>Python</li>
                                    </ul></td>
                                    <td style="border: 2px solid black; color:black"><a href="https://github.com/kamal-cmd/qwerty">Kamal</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="border: 2px solid black; color:black">0043</th>
                                    <td style="border: 2px solid black; color:black">Bhanu Gudheniya</td>
                                    <td style="border: 2px solid black; color:black"><ul>
                                        <li>Mean Stack Development</li>
                                        <li>Cyber Security</li>
                                    </ul></td>
                                    <td style="border: 2px solid black; color:black"><a href="https://www.google.co.in/">Bhanu</a></td>
                                  </tr>
                                  <tr>
                                    <th scope="row" style="border: 2px solid black; color:black">0045</th>
                                    <td style="border: 2px solid black; color:black">Shilpy Tyagi</td>
                                    <td style="border: 2px solid black; color:black"><ul>
                                        <li>Java</li>
                                        <li>Python</li>
                                    </ul></td>
                                    <td style="border: 2px solid black; color:black"><a href="https://www.javatpoint.com/free-java-projects">Shilpy</a></td>
                                    
                                  </tr>
                                  <tr>
                                        <th scope="row" style="border: 2px solid black; color:black">0048</th>
                                        <td style="border: 2px solid black; color:black">Muskan Lagwal</td>
                                        <td style="border: 2px solid black; color:black"><ul>
                                            <li>Python</li>
                                            <li>Angular js</li>
                                        </ul></td>
                                        <td style="border: 2px solid black; color:black"><a href="https://www.youtube.com">Muskan</a></td>
                                      </tr>
                                      <tr>
                                            <th scope="row" style="border: 2px solid black; color:black">0058</th>
                                            <td style="border: 2px solid black; color:black">Naveen Kumar</td>
                                            <td style="border: 2px solid black; color:black"><ul>
                                                <li>Mean Stack Development</li>
                                                <li>Android</li>
                                            </ul></td>
                                            <td style="border: 2px solid black; color:black"><a href="https://www.healthline.com/nutrition/how-to-gain-weight">Naveen</a></td>
                                          </tr>
                                </tbody>
                              </table> 
                              
                            
                              
                </div>
            </div>
        </div>
    